@using GrinGlobal.Zone.Helpers

@{ViewBag.ViewTitle = "| Modules"; }

<div class="row">
    <div class="col-lg-12 text-center m-t-md">
        <h2>
            Welcome to <span class="text-success">GB-Zone</span>
        </h2>

        <p>
            Here you can select a <strong>Module</strong> of GRIN-Global to manage germplasm bank information.
        </p>
    </div>
</div>

<div class="row">
    @foreach (var module in Settings.Server(Session["server"].ToString()).Elements("module"))
    {
        <div class="col-lg-6">
            <div class="hpanel hgreen">
                <div class="panel-heading">                   
                </div>
                <div class="panel-body h-200">
                    <div class="stats-icon pull-right">
                        <i class="@module.Attribute("icon").Value fa-4x text-success"></i>
                    </div>
                    <div class="m-t-xl">
                        <h3 class="fa-3x">@module.Attribute("title").Value</h3>
                        <p>@module.Attribute("description").Value</p>
                    </div>
                    @foreach (var form in module.Elements("form"))
                    {
                        <h3 class="font-extra-bold">
                            <a class="text-success" href="@Url.Action(form.Attribute("action").Value, form.Attribute("controller").Value, new { moduleId = module.Attribute("id").Value, formId = form.Attribute("id").Value })">@form.Attribute("title").Value</a>
                        </h3>
                    }
                </div>
                <div class="panel-footer">
                    
                </div>
            </div>
        </div>
    }
</div>