@using GrinGlobal.Zone.Helpers

@{ViewBag.ViewTitle = "| Modules"; }


<div class="row text-center">
    <div class="col-lg-12">
        <h2><span class="text-success">GB-Zone </span>Modules</h2>
    </div>
</div>

<div class="row text-center">
    @foreach (var elm in Settings.CropInfo(Session["crop"].ToString()).Elements("modules"))
    {
        <div id="@elm.Attribute("id").Value" > <!--class="col-md-4"-->
            <a class="@elm.Attribute("icon").Value text-success icon-big" href="@Url.Action(elm.Attribute("action").Value, elm.Attribute("controller").Value, new { moduleId = elm.Attribute("id").Value })"></a>
            <h4>@elm.Attribute("title").Value</h4>
            <p>@elm.Attribute("description").Value</p>
        </div>
    }
</div>