@model System.Data.DataSet


<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                </div>
                @Model.Tables[ViewData["dataViewName"].ToString()].ExtendedProperties["title"].ToString()
            </div>

            <div class="panel-body">
                <div class="row">

                    @foreach (System.Data.DataColumn col in Model.Tables[ViewData["dataViewName"].ToString()].Columns)
                    {
                        if (col.ColumnMapping != System.Data.MappingType.Hidden && col.ExtendedProperties["is_header"] != null)
                        {
                            if (col.ExtendedProperties["is_header"].Equals(true))
                            {
                                <div class="col-sm-3">
                                    <span class="font-extra-bold">@col.Caption: </span>
                                    @if (Model.Tables[ViewData["dataViewName"].ToString()].Rows.Count > 0)
                                    {
                                        @Model.Tables[ViewData["dataViewName"].ToString()].Rows[0][col].ToString().Trim()
                                    }
                                </div>
                            }
                        }
                    }
                    <div class="col-sm-3">
                        <span class="font-extra-bold">Total numbre of records: </span>
                        @Model.Tables[ViewData["dataViewName"].ToString()].Rows.Count
                    </div>
                </div>
                <div class="row">
                    @Html.Partial("_GridViewSearch", Model, new ViewDataDictionary(ViewData))
                </div>
            </div>
        </div>
    </div>
</div>