@model System.Data.DataTable

<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                </div>
                @Model.ExtendedProperties["title"].ToString()
            </div>

            <div class="panel-body">
                <div class="row">

                    @foreach (System.Data.DataColumn col in Model.Columns)
                    {
                        if (col.ColumnMapping != System.Data.MappingType.Hidden && col.ExtendedProperties["is_header"] != null)
                        {
                            if (col.ExtendedProperties["is_header"].Equals(true))
                            {
                                <div class="col-sm-3">
                                    <span class="font-extra-bold">@col.Caption: </span>
                                    @if (Model.Rows.Count > 0)
                                    {
                                        
                                        if (col.ColumnName == "gid")
                                        {

                                            Html.DevExpress().HyperLink(hlSettings =>
                                            {
                                                hlSettings.Name = "gid";
                                                hlSettings.NavigateUrl = "javascript:void(0)";
                                                hlSettings.Properties.ClientSideEvents.Click = string.Format("function(s, e) {{ ShowDetailPopup('{0}'); }}", Url.Action("GetGermplasmDetails", "Search", new { serverId = ViewData["server"].ToString(), germplasmDbId = @Model.Rows[0][col].ToString().Trim() }));
                                                hlSettings.Properties.Text = @Model.Rows[0][col].ToString().Trim();
                                            }).Render();
                                        }
                                        else
                                        {
                                            @Model.Rows[0][col].ToString().Trim()
                                        }
                                        
                                        //@Model.Rows[0][col].ToString().Trim()
                                    }
                                </div>
                            }
                        }
                    }
                    <div class="col-sm-3">
                        <span class="font-extra-bold">Total numbre of records: </span>
                        @Model.Rows.Count
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>