@using GrinGlobal.Zone.Helpers

@using (Html.BeginForm("Index", "Search", FormMethod.Post, new { id = "formFilter" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Filters
                </div>

                <div class="panel-body">
                    <div class="row">
                        <input type="hidden" name="moduleId" value="@ViewData["moduleId"].ToString()">
                        <input type="hidden" name="formId" value="@ViewData["formId"].ToString()">

                        @foreach (var field in Settings.Fields(Session["server"].ToString(), ViewData["moduleId"].ToString(), ViewData["formId"].ToString()))
                        {
                            if (field.Attribute("visible").Value == "true")
                            {
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input id="radio @field.Attribute("id").Value" type="radio" name="radios" value="@field.Attribute("id").Value" />
                                            </span>
                                            <input type="@field.Attribute("type").Value" class="form-control" placeholder="@field.Attribute("placeholder").Value" id="text @field.Attribute("id").Value" name="text @field.Attribute("id").Value" onfocus="getElementById('radio @field.Attribute("id").Value').checked = true" />
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <!--
                         <div class="col-sm-3">
                             <div class="form-group">
                                 <div class="input-group">
                                     <span class="input-group-addon">
                                         <input id="radio1" type="radio" name="radios" value="01" />
                                     </span>
                                     <input type="text" class="form-control" placeholder="OrderId" id="text01" name="text01" onfocus="getElementById('radio1').checked = true" />
                                 </div>
                             </div>
                         </div>
                        <div class="col-sm-3">
                             <div class="form-group">
                                 <div class="input-group">
                                     <span class="input-group-addon">
                                         <input id="radio3" type="radio" name="radios" value="03" />
                                     </span>
                                     <input type="text" class="form-control" placeholder="Acc Number" id="text03" name="text03" onfocus="getElementById('radio3').checked = true" />
                                 </div>
                             </div>
                         </div>
                         <div class="col-sm-3">
                             <div class="form-group">
                                 <div class="input-group">
                                     <span class="input-group-addon">
                                         <input id="radio2" type="radio" name="radios" value="02" />
                                     </span>
                                     <input type="text" class="form-control ggbox" placeholder="BOX" id="text02" name="text02" onfocus="getElementById('radio2').checked = true" />
                                 </div>
                             </div>
                         </div>
                         <div class="col-sm-3">
                             <div class="form-group">
                                 <div class="input-group">
                                     <span class="input-group-addon">
                                         <input id="radio4" type="radio" name="radios" value="04" />
                                     </span>
                                     <input type="text" class="form-control" placeholder="Inventory Number" id="text04" name="text04" onfocus="getElementById('radio4').checked = true" />
                                 </div>
                             </div>
                         </div>
                         -->
                        <div class="col-sm-3">
                            <button class="btn btn-success btn-circle" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

